@import '../../../assets/scss/colors', '../../../assets/scss/fonts';

.overview {
  background: $vivid-auburn;
  border-radius: 3px;
  color: $white;
  font-family: $roboto;

  .row {
    margin: 1em;
    padding: 1em 0;
    box-sizing: border-box;

    .col-4 {
      border-radius: 3px;
      padding: 1em;

      .stream-box {
        position: relative;
        box-sizing: border-box;
        border-radius: 5px;
        overflow: hidden;
        height: 245px;

        img {
          width: 100%;
          border-radius: 5px;
          cursor: pointer;
          height: 245px;
        }

        .stream-overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 4em;
          line-height: 4em;
          background: $transparent-black-50;
          padding: 0 1em;

          .username {
            font-family: $roboto;
            font-weight: 600;
            font-size: 1.5em;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
          }

          .viewstats {
            float: right;
            height: 4em;
            line-height: 4em;

            .viewcount {
              font-family: $roboto;
              font-weight: 600;
              font-size: 1.5em;
              display: inline-block;
              vertical-align: middle;
            }

            i {
              margin: -5px 0.25em 0 0;
              font-size: 30px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.selected-streams-overlay {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: $vivid-auburn;
  color: $white;
  max-height: 15em;
  box-sizing: border-box;

  .row {
    margin: 0.5em auto;
    padding: 1em 0;
    box-sizing: border-box;
    width: 60%;

    .col-3 {
      border-radius: 3px;
      padding: 1em;

      .stream-box {
        position: relative;
        box-sizing: border-box;
        border-radius: 5px;
        overflow: hidden;

        .close-button {
          position: absolute;
          top: 0.25em;
          right: 0.25em;
          z-index: 9000;
          cursor: pointer;
        }

        img {
          width: 100%;
          height: 10em;
          border-radius: 5px;
          cursor: pointer;
        }

        .stream-overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 4em;
          line-height: 4em;
          background: $transparent-black-50;
          padding: 0 1em;

          .username {
            font-family: $roboto;
            font-weight: 600;
            font-size: 1.5em;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
          }

          .viewstats {
            float: right;
            height: 4em;
            line-height: 4em;

            .viewcount {
              font-family: $roboto;
              font-weight: 600;
              font-size: 1.5em;
              display: inline-block;
              vertical-align: middle;
            }

            i {
              margin: -5px 0.25em 0 0;
              font-size: 30px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
