<div class="container">
  <app-head></app-head>

  <div class="overview shadow-sm">
    <div class="row">
      <div class="col-4" *ngFor="let stream of streams;">
        <div class="stream-box shadow-sm">
          <img (click)="addToSelectedStreams(stream)" src="{{stream.thumb}}" alt="Camerafootage">
          <div class="stream-overlay">
            <div (click)="addToSelectedStreams(stream)" class="username">{{stream.name}}</div>
            <div class="viewstats">
              <div class="viewcount"><i class="material-icons">people</i>{{stream.viewCount}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="selected-streams-overlay shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-3" *ngFor="let stream of selectedStreams;">
        <div class="stream-box shadow-sm">
          <i (click)="removeFromSelectedStreams(stream)" class="material-icons close-button">close</i>
          <img src="{{stream.thumb}}" alt="Camerafootage">
          <div class="stream-overlay">
            <div class="username">{{stream.name}}</div>
            <div class="viewstats">
              <div class="viewcount"><i class="material-icons">people</i>{{stream.viewCount}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="button" (click)="navigateToStream()" class="btn btn-light btn-overview">Watch</button>
    </div>
  </div>
</div>

<div class="modal">
  <div class="container">
    <div class="modal-top">Alert <i (click)="closeModal()" class="material-icons close-button">close</i></div>
    <div class="modal-body">
      <p>{{message}}</p>
      <button type="button" (click)="closeModal()" class="btn btn-danger btn-center">Close</button>
    </div>
  </div>
</div>
